@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*para que el body ocupe el 100% en la pagina*/
html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  /*para que el body ocupe el 100% en la pagina*/
}


/* estilos para los elementos del contenedor*/
.grid-container>* {
  box-shadow: -1px 1px 5px 0px #4c712f;;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #4c712f;
}

.navbar {
  grid-area: navbar;
  background-color: #000;
  align-content: center;
}
.main {
  grid-area: main;
  /* background-color: #fcfcfcb8; */
  padding-top: 15px;
  margin-top: 20px;
  color: #fff;
}

.footer {
  grid-area:footer;
  background-color: #000;
}

.img1 {
  grid-area: img1;
  background-color: #0f2101;
 
}

.img2 {
  grid-area: img2;
  background-color: #0f2101;
}

.img3 {
  grid-area: img3;
  background-color: #0f2101;
}

.img4 {
  grid-area: img4;
  background-color: #0f2101;
}

.img5 {
  grid-area: img5;
  background-color: #0f2101;
}

.img6 {
  grid-area: img6;
  background-color:#0f2101;
}
.contenido-footer1 {
  /* grid-area: contenido-footer1;
  background-color: #ddc2c9; */
  display: contents;
  text-align: center;
}
.contenido-footer2 {
  text-align: center;
  display: contents;
  grid-area: contenido-footer2;
  /* background-color: #ddc2c9; */
}

/* definimos el grid para el body*/
.grid-container {
  display: grid;
  gap: 5px;
  /*separacion entre los elementos*/
  grid-template:
    "header" 100px
    "navbar" 30px
    "main" auto
    /* "sidebar" 15rem */
    "footer" 100px;
   
}

/* definimos el grid para el main*/
.containerCars {
  display: grid;
  gap: 10px;
  /*separacion entre los elementos*/
  grid-template:
    "img1" auto/*debemos definir el tamaño de las imagenes todos deben ser del mismo tamaño*/
    "img2" auto
    "img3" auto
    "img4" auto
    "img5" auto
    "img6" auto;
}
/* definimos el grid para footer*/
.containerFooter {
 color: #fff;
  display: grid;
  gap: 2px;
  /*separacion entre los elementos*/
  grid-template:
    "contenido-footer1" auto
    "contenido-footer2" auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header  header" 100px
      "navbar  navbar" 50px
      "main main" auto
      "footer  footer" 100px /
      200px auto;
    
  }
  .containerCars {
      grid-template:
      "img1" auto/*debemos definir el tamaño de las imagenes todos deben ser del mismo tamaño*/
      "img2" auto
      "img3" auto
      "img4" auto
      "img5" auto
      "img6" auto;
  }

  .containerFooter {
    grid-template:
      "contenido-footer1 contenido-footer2" auto /
      200px              auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      ".  header ." 100px
      ".  navbar ." 50px
      ".    main   ." auto
      ".  footer ." 100px /
      auto 900px auto;
  }
  .containerCars {
    grid-template:
      "img1" auto/*debemos definir el tamaño de las imagenes todos deben ser del mismo tamaño*/
      "img2" auto
      "img3" auto
      "img4" auto
      "img5" auto
      "img6" auto
  }
}


