@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*para que el body ocupe el 100% en la pagina*/
html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  /*para que el body ocupe el 100% en la pagina*/
}


/* estilos para los elementos del contenedor*/
.grid-container>* {
  box-shadow: -1px 1px 5px 0px #4c712f;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
}

.header {
  grid-area: header;
  background-color: #85aedd;
}

.navbar {
  grid-area: navbar;
  background-color: #000;
  align-content: center;
}

.main {
  grid-area: main;
  /* background-color: #38720b; */
  padding: 15px 0 15px 0;
/* margin: auto; */
margin-top: 15px;
margin-bottom: 15px;

 
}

.footer {
  grid-area: footer;
  background-color: #000;
}

.contenido-footer1 {
  /* grid-area: contenido-footer1;
  background-color: #ddc2c9; */
  display: contents;
  text-align: center;
}
.contenido-footer2 {
  text-align: center;
  display: contents;
  grid-area: contenido-footer2;
  /* background-color: #ddc2c9; */
}

/* definimos el grid para el body*/
.grid-container {
  display: grid;
  gap: 5px;
  /*separacion entre los elementos*/
  grid-template:
    "header" 100px
    "navbar" 30px
    "main" auto
    "footer" 100px;
   
}
/* definimos el grid para footer*/
.containerFooter {
  color: #fff;
  display: grid;
  gap: 2px;
  /*separacion entre los elementos*/
  grid-template:
    "contenido-footer1" auto
    "contenido-footer2" auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
    "header  header header" 100px
    "navbar  navbar navbar" 50px
    ".    main   ." 
    "footer  footer footer" 100px /
    /* 100px auto 100px; */
    
  }
  .containerFooter {
    grid-template:
      "contenido-footer1 contenido-footer2" auto /
      200px              auto;
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      ".  header ." 100px
      ".  navbar ." 50px
      ".    main   ." auto
      ".  footer ." 100px /
      auto 900px auto;
  }
}


