 #nav ul{
   list-style-type: none; 
   text-align: center;
}
#nav li{
   display: inline;
   text-align: center;
   margin: 0 5px 0 0;
}
 #nav li a {
   padding: 2px 5px 2px 5px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid rgb(70, 5, 5);
   text-decoration: none;
}
#nav li a:hover{
   background-color: #333333;
   color: #ffffff;
}


 #nav {
   display: flex;
    /* height: 100vh; */
    justify-content: center;
    align-items: center;
 }
 #btn-inscripc {
   text-align: center;
}
 #btn-inscripc a {
   padding: 2px 5px 2px 5px;
   color: #666;
   background-color: #eeeeee;
   border: 1px solid rgb(70, 5, 5);
   text-decoration: none;
   text-align: center;
}
#btn-inscripc a:hover{
   background-color: #333333;
   color: #ffffff;
}
#caja-quiensomos {
   background-color: #666;
   margin-top: 2rem;
}
#caja-contacto{
   background-color: #666;
   margin-top: 2rem;
}
#caja-inscrpcion{
   background-color: #666;
   margin-top: 2px;
}

 .ulflex {
    background-color: rgb(47, 115, 142);
    border: 2px solid black;
 }
 /*style para pagina actividades*/
 .act-index {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    
 }
 .act-x {
   display: inline-flex;
   /* display: flexbox; */
   /* display: inline-flexbox; */
    /* display: flex; */
    /* flex-flow: row wrap; */
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex: content;
    margin: 10px 10px;
   
 }
 .img-act{
   text-align: left;
     border: solid 1px #000;  
  margin-right: 5px;
  background-repeat: no-repeat;
   background-size: contain;
 /* flex: content; */
max-width: 900px;

 }
 .img-act img{
   width: 180px;
   height: 160px;
   border-radius: 7px 7px 0 0;
 }
 /*-----------------*/
 /*style para pagina index div contenedor de imagenes*/
  .img-actx{
   width: 100%;
   height: 160px;
   background-image:url("../img/Boxeo/pexels-koolshooters-9945075.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxboxeo{
   width: 100%;
   height: 160px;
    background-image:url("../img/Boxeo/pexels-koolshooters-9945075.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxspinning{
   width: 100%;
   height: 160px;
   background-image:url("../img/Spinning/spinning960x640.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxpesas{
   width: 100%;
   height: 160px;
   background-image:url("../img/pesas/pesas960x640.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxzumba{
   width: 100%;
   height: 160px;
   background-image:url("../img/zumba/zumba640x428.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxstrong{
   width: 100%;
   height: 160px;
   background-image:url("../img/Strong/strong.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
 .img-actxcross{
   width: 100%;
   height: 160px;
   background-image:url("../img/Crossfit/crossfit-.jpg") ;
   background-repeat: no-repeat;
   background-size: contain;
   border: 1px solid red;
  background-position: center;
 }
/*-----------------*/